//default
body {
	#transition .all(0.1s);
	background: #fff;
}

h1, h2, h3, h4, h5 {
	color: @primcol;
}

a {
	color: @primcol;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

#activiteiten {
	margin-top: 25px;
}

.activiteit {
	background: #fff;
	margin-bottom: 10px;
	img {
		float: left;
	}

	h5{
		display: inline-block;
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 0px;

	}
	div {
		margin-left: 82px;
	}
}

	.banner {
		height: 262px;
	}

	.banner-right img {
		width: 100%;
		height: 100%;
	}
	.banner-left {
		background: #aee4e5;
		padding-right: 0px;
	}
	.banner-left-img {
		//float: right;
		background: url(../images/zwemfeestje.png);
	}

	.btn-below {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 50%;
		right: auto;
		bottom: -30px;
		padding: 11px 10px;
		background: url(../images/wood-button.png);
		color: #fff;
	}

	.has-button-below {
		position: relative;
	}
	.footer {
		color: @footer-text-col;
		background: url(../images/dropdown-bg.png);
		margin-top: 60px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.inner-container {
		margin-left:40px;
		margin-right: 40px;

	}

	#topbar {
		//height: 27px;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		background: url(../images/top-wood.png); //dropdown-bg.png);
		a {
			color: #fff;
		}
	}

	.navbar-default{
		background-color: @nav-bg-color;
		border: none;

		font-size: @navtext-size;
	}

	.navbar-nav {
		margin-top: 30px;
	}

	.navbar-default .navbar-nav {

		> li > a {
			color: @navtext-color;
		}
	}

	.nav-tabs {
		background: #fff;
		margin-bottom: -21px;
	}
	.nieuws-text {
		margin-top: 45px;
	}

	.tab-content{
		background: #fff;
		padding: 10px 24px;
		height: 566px;
	}
	#video_bad {
		position: relative;
	}

	#weer_widget {
		position: absolute;
		bottom: 40px;
		left: 40px;
	}
	#speelattr {
		background: url(../images/speelattr-bg.png);
		height:730px;
		margin-top: @panel-margin;
	}

	.speelattr-top {
		margin-top: 50px;
	}

	.speelattr-text {
		margin-top: 45px;
	}

	#wedstrijd {
		margin-top: @panel-margin;
		background: #e2eded;
	}

	#nieuws {
		margin-top: @panel-margin;
	}

	#boschbad_slider {
		margin-top: @panel-margin;
	}

	#banner {
		margin-top: @panel-margin;
	}

