@import "custom/topnav";
@import "custom/activiteiten";
@import "custom/banner";
@import "speelattr";
@import "fotowedstijd";
@import "weerwidget";

//default
body {
  #transition .all(0.1s);
  background: #fff;
}

h1, h2, h3, h4, h5 {
  color: @primcol;
}

a {
  color: @primcol;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


.btn-below {
  border-radius: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: auto;
  bottom: -30px;
  padding: 11px 10px; //18px
  background: url(../images/wood-button.png);
  color: #fff;
  font-weight: bold;
}

.has-button-below {
  position: relative;
}
.footer {
  color: @footer-text-col;
  background: url(../images/dropdown-bg.png);
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inner-container {
  margin-left:40px;
  margin-right: 40px;

}

#nieuws {
  margin-top: @panel-margin;
}

.nieuws-text {
  margin-top: 45px;
}

#video_bad {
  position: relative;
}

#boschbad_slider {
  margin-top: @panel-margin;
}

