
#topbar {
  //height: 27px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(../images/top-wood.png); //dropdown-bg.png);
  a {
    color: #fff;
  }
}

.navbar-default{
  background-color: @nav-bg-color;
  border: none;

  font-size: @navtext-size;
}

.navbar-nav {
  margin-top: 30px;
}

.navbar-default .navbar-nav {

  > li > a {
    color: @navtext-color;
  }
}

.nav-tabs {
  background: url(../images/icons/icon-background.png); //#fff;
  margin-bottom: -10px;
}
.nav-tabs.nav-justified > li > a:hover{
  background: none;
  border: none;
}